html {
	overflow-y:scroll;
}
BODY{
    padding-TOP: 2.5%;
}

main {
	margin-bottom: 30px;
}

img{
    padding-left: 20%;
    padding-top: 2%;

    width: 80%;
}
div {
    padding-left: 20%;
}
input{
    color:black;
    background-color: azure;
    text-align:center;
    padding-right: 7%;
    width:80%;
    height:5%;
    padding-left: 10%;
}
span{
   color: black;
}
#Button{
background-color: yellowgreen;
}
span:hover{
    border:white;
}
#Button :hover{
background-color: brown;
}
button{
    padding-top:0%;
}

.realsearch {
padding-top:3%;
padding-left: 20%;
}
#searchbar{
    width:70%;
    height:9%;
    border:11% blur black;
}
#searchbutton{
    width:6%;
    height:9%;
}
body{
    background-image: url("bg.jpg");
}
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    background-color: black;
    padding-bottom: 20%;

  }
  
  #myUL li a {
    background-color:#CCC;
    text-decoration: none; /* Remove default text underline */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    width:100%;
    height:10%;
    background-color: black;;
padding-top: 5px;
  }
  

#main{
    background-color: #CCC;
}
#main{
    background-color:none;
    padding-left: 0%;
}
h1{
font-size: 25px;
color:skyblue;
font-family: century gothic;
padding-bottom: 0%;
}
h4{
    color:blueviolet;
    font-size: 15px;
    font-family: century gothic;
    padding-bottom: 0%;
}
.container-fluid {
    background-color: black;
}
h3{
    color:white;
    font-size:18px;
    font-family:cursive;
    padding-bottom: 0%;
}
html {
    scroll-behavior: smooth;
  }
ul img{
width:35%;
height:250%;
float: right;
padding-top: 0%;
padding-bottom: 10px;
top:0;
}
  li{
      padding-bottom: 10%;
      border-bottom: 0.5px solid #CCC;
  }
  ul{
      padding-bottom: 10%;
  }